# Python
__pycache__
.pytest_cache
db.sqlite3

# IDE and text editors
.idea
*~
*#
*.swp

# Epita CRI
*__afs*

# Tests
.coverage
pytest_res.txt
flake8_res.txt

# cordova
/application_yakabible/node_modules
/application_yakabible/platforms
/application_yakabible/plugins

# collectstatic
/yakabible/static/
