{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
{% endblock sup_head %}

{% block title %}
    Transaction Paypal
{% endblock title %}

{% block content %}
    <center>
        <h2><u>Paiement</u></h2>
        {% if "ionis" in request.GET %}
            <h5>Place Ionis</h5>
        {% else %}
            <h5>Place externe</h5>
        {% endif %}
        <div class="mt-4">
            {{ form.render }}
        </div>
    </center>
{% endblock content %}

{% block sup_foot %}
{% endblock sup_foot %}
