{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
    <link rel="stylesheet" href={% static "billapp/css/datepicker.min.css" %}>
{% endblock sup_head %}

{% block title %}
Connexion
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Connexion</h5>
        <form class="container" method="post">
            <div class="form-row mt-3">
                <div class="col-lg-3 mb-3">
                    <label for="f_title">Username</label>
                    {{form.username}}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-lg-3 mb-3">
                    <label for="f_place">Password</label>
                    {{form.password}}
                </div>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary mb-3" type="submit">Valider</button>
        </form>
    </div>
{% endblock content %}

{% block sup_foot %}
    <script src={% static "billapp/js/moment.min.js" %}></script>
    <script src={% static "billapp/js/datepicker.min.js" %}></script>
    <script type="text/javascript">
        $(function () {
            $('.date-pick').datetimepicker({
                locale: 'fr'
            });
        });
    </script>
{% endblock sup_foot %}
