{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
{% endblock sup_head %}

{% block title %}
Connexion
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Connexion</h5>
        {% if error %}
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    Nom d'utilisateur ou mot de passe incorrect
                </div>
            </div>
        {% endif %}
        <form class="container" method="post">
            <div class="form mt-3">
                <div class="col-lg-3 mb-3">
                    <label for="f_title">Nom d'utilisateur</label>
                    {{form.username}}
                </div>
                <div class="col-lg-3 mb-3">
                    <label for="f_place">Mot de passe</label>
                    {{form.password}}
                </div>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary mb-3" type="submit">Valider</button>
        </form>
    </div>
{% endblock content %}

{% block sup_foot %}
{% endblock sup_foot %}
