{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
    <link rel="stylesheet" href={% static "billapp/css/datepicker.min.css" %}>
{% endblock sup_head %}

{% block title %}
Créer un événement
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Création d'événement</h5>
        <form enctype='multipart/form-data' class="container" method="post">
            <div class="form-row mt-3">
                <div class="col-lg-4 mb-3">
                    <label for="f_title">Titre événement</label>
                    {{form.title}}
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="f_place">Lieu</label>
                    {{form.place}}
                </div>
                <div class="col-lg-4 mb-3">
                    <p>Image de promotion</p>
                    <label style="margin-top: 32px" class="custom-file-label" for="f_img">Choisir fichier...</label>
                    {{form.promotion_image_path}}
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <label for="f_desc">Description</label>
                    {{form.description}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_date_start">Date (début)</label>
                    {{form.begin}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_date_end">Date (fin)</label>
                    {{form.end}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_insc_start">Ouverture inscriptions</label>
                    {{form.begin_register}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_insc_end">Fermeture inscriptions</label>
                    {{form.end_register}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_limit_ext">Limite externes</label>
                    {{form.ext_capacity}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_limit_int">Limite IONIS</label>
                    {{form.int_capacity}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_price_ext">Prix externes</label>
                    {{form.price}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_price_int">Prix IONIS</label>
                    {{form.price_ionis}}
                </div>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary mb-3" type="submit">Valider</button>
        </form>
    </div>
{% endblock content %}

{% block sup_foot %}
    <script src={% static "billapp/js/moment.min.js" %}></script>
    <script src={% static "billapp/js/datepicker.min.js" %}></script>
    <script type="text/javascript">
        $(function () {
            $('.date-pick').datetimepicker({
                locale: 'fr'
            });
        });
    </script>
{% endblock sup_foot %}
