{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
    <link rel="stylesheet" href={% static "billapp/css/datepicker.min.css" %}>
{% endblock sup_head %}

{% block title %}
Créer un événement
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <h5>{% if modif %}{{ event.title }} -- Modification{% else %}{{ asso.name }} -- Création d'événement{% endif %}</h5>
        </div>
        <div class="mx-2 mt-2">
            {% if event_form.errors %}
                {% for field in event_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in event_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form enctype='multipart/form-data' class="container" method="post">
            <div class="form-row mt-3">
                <div class="col-lg-4 mb-3">
                    <label for="f_title">Titre événement</label>
                    {{event_form.title}}
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="f_place">Lieu</label>
                    {{event_form.place}}
                </div>
                <div class="col-lg-4 mb-3">
                    <p>Image de promotion</p>
                    <label style="margin-top: 32px" class="custom-file-label" for="f_img">Choisir fichier...</label>
                    {{event_form.promotion_image_path}}
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <label for="f_desc">Description</label>
                    {{event_form.description}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_date_start">Date (début)</label>
                    {{event_form.begin}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_date_end">Date (fin)</label>
                    {{event_form.end}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_insc_start">Ouverture inscriptions</label>
                    {{event_form.begin_register}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_insc_end">Fermeture inscriptions</label>
                    {{event_form.end_register}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_limit_ext">Limite externes</label>
                    {{event_form.ext_capacity}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_limit_int">Limite IONIS</label>
                    {{event_form.int_capacity}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_price_ext">Prix externes</label>
                    {{event_form.price}}
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <label for="f_price_int">Prix IONIS</label>
                    {{event_form.price_ionis}}
                </div>
            </div>
            <div class="form-row form-check">
                <div class="col-lg-3 col-md-6 mb-3">
                    {{event_form.show_capacity}}
                    <label for="f_show_capacity">Afficher les places restantes</label>
                </div>
            </div>
            <div class="card mb-3">
                <p class="card-header">Staff</p>
                <div class="p-3">
                    {{ staff_form.management_form }}
                    {% for form in staff_form %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12 mb-3">
                                <label for="f_association_name">Asso</label>
                                {{ form.association_name }}
                            </div>
                            <div class="col-lg-6 col-md-12 mb-3">
                                <label for="f_capacity">Capacité</label>
                                {{ form.capacity }}
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <input type="hidden" values="false" name="additems" id="additems">
                        <button class="btn btn-primary" id="additemsbutton" formnovalidate>Add</button>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary mb-3" type="submit">{% if modif %}Modifier{% else %}Valider{% endif %}</button>
        </form>
    </div>
{% endblock content %}

{% block sup_foot %}
    <script src={% static "billapp/js/moment.min.js" %}></script>
    <script src={% static "billapp/js/datepicker.min.js" %}></script>
    <script type="text/javascript">
        $(function () {
            $('.date-pick').datetimepicker({
                locale: 'fr'
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#additemsbutton").on('click',function(event) {
                $("#additems").val("true");
            });
        });
    </script>
{% endblock sup_foot %}
