{% extends 'base.html' %}
{% load static %}
{% load tools %}

{% block sup_head %}
{% endblock sup_head %}

{% block title %}
    Événement en cours - {{ object.title }}
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Suivi évent - {{ object.title }}</h5>
        {% if not event_started %}
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    L'événement n'a pas commencé ou est déjà fini !
                </div>
            </div>
        {% endif %}
        <div class="container mb-3">
            <div class="card">
                <p class="card-header">Infos</p>
                <div class="container">
                    <p><i class="far fa-calendar mr-2 mt-3"></i> Du <b>{{ object.begin }}</b> au <b>{{ object.end }}</b>
                    </p>
                    <p><i class="fas fa-user-plus mr-2"></i> Inscriptions du <b>{{ object.begin_register }}</b> au
                        <b>{{ object.end_register }}</b></p>
                    <div class="row">
                        <p class="col-lg-4"><i class="fas fa-sign-in-alt mr-2"></i> Internes : Prix
                            = {{ object.price_ionis }}€
                            {% if object.show_capacity %}
                                <b>|</b> Places = {{ object | get_int }}/{{ object.int_capacity }}
                            {% endif %}
                        </p>
                        <p class="col-lg-4"><i class="fas fa-sign-out-alt mr-2"></i> Externes : Prix
                            = {{ object.price }}€
                            {% if object.show_capacity %}
                                <b>|</b> Places = {{ object | get_ext}}/{{ object.ext_capacity }}
                            {% endif %}
                        </p>
                    </div>
                    <a href='https://www.google.com/maps/search/{{ object.place }}'
                       style="color:inherit;text-decoration:none;" target="blank"><h5><i
                            class="fas fa-map mr-2 mb-2"></i> {{ object.place }}</h5></a>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Ticket #</th>
                <th scope="col">Prénom Nom</th>
                <th scope="col">Status</th>
                <th scope="col">Changement</th>
            </tr>
            </thead>
            <tbody>
            {% for tick in object.ticket_set.all %}
                <tr>
                    <th scope="row">{{ tick.pk }}</th>
                    <td>
                        <a href="{% url "profile" pk=tick.user.pk %}"></a>{{ tick.user.first_name }} {{ tick.user.last_name }}
                    </td>
                    <td>{{ tick.state | get_ticket_state }}</td>
                    <td>
                        {% if tick.state == 1 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=2" role="button"
                               class="btn btn-success">Check-in</a>
                        {% elif tick.state == 2 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=3" role="button"
                               class="btn btn-warning">Part en pause</a>
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=0" role="button"
                               class="btn btn-danger">Check-out</a>
                        {% elif tick.state == 3 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=2" role="button"
                               class="btn btn-success">Revient de pause</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block sup_foot %}
{% endblock sup_foot %}
