{% extends 'base.html' %}
{% load static %}
{% load tools %}

{% block sup_head %}
{% endblock sup_head %}

{% block title %}
    Événement en cours
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Suivi évent</h5>
        {% if not event_started %}
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    L'événement n'a pas commencé ou est déjà fini !
                </div>
            </div>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Ticket #</th>
                <th scope="col">Prénom Nom</th>
                <th scope="col">Status</th>
                <th scope="col">Changement</th>
            </tr>
            </thead>
            <tbody>
            {% for tick in object.ticket_set.all %}
                <tr>
                    <th scope="row">{{ tick.pk }}</th>
                    <td><a href="{% url "profile" pk=tick.user.pk %}"></a>{{ tick.user.first_name }} {{ tick.user.last_name }}</td>
                    <td>{{ tick.state | get_ticket_state }}</td>
                    <td>
                        {% if tick.state == 1 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=2" role="button" class="btn btn-success">Check-in</a>
                        {% elif tick.state == 2 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=3" role="button" class="btn btn-warning">Part en pause</a>
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=0" role="button" class="btn btn-danger">Check-out</a>
                        {% elif tick.state == 3 %}
                            <a href="{% url 'ticket_update' pk=tick.pk %}?new_state=2" role="button" class="btn btn-success">Revient de pause</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block sup_foot %}
{% endblock sup_foot %}
