{% extends 'base.html' %}
{% load static %}
{% block sup_head %}
    <link href={% static 'billapp/fullcalendar/core/main.css' %} rel='stylesheet' />
    <link href={% static 'billapp/fullcalendar/list/main.css' %} rel='stylesheet' />
    <link href={% static 'billapp/fullcalendar/daygrid/main.css' %} rel='stylesheet' />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'list', 'bootstrap'],
                defaultView: 'dayGridMonth',
                locale: 'fr',
                height: 700,
                themeSystem: 'bootstrap',
                events: "{% url 'events_json' %}",
                views: {
                    listMonth: { buttonText: 'Liste' }
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listMonth'
                }
            });
            calendar.render();
        });
    </script>
{% endblock sup_head %}
{% block title %}
Accueil
{% endblock title %}
{% block content %}
    <div id="premium-events" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <!-- Number of premium events -->
            {% for prem in object_list %}
            {% if forloop.first %}
            <li data-target="#premium-events" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#premium-events" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            <!-- Bloc events premium -->
            {% for prem in object_list %}
            {% if forloop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <a href="{% url 'event'  pk=prem.pk %}"><img src={{ prem.promotion_image_path.url }} class="img-cover d-block w-100" alt="{{ prem.title }}"></a><!-- Affiche event -->
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5> <!-- Nom event -->
                    <p></p>
                    <!-- Description event -->
                </div>
            </div>
            {% endfor %}
            <!-- Fin bloc events premium -->
        </div>
        <a class="carousel-control-prev" href="#premium-events" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#premium-events" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    <div class="mt-3" id='calendar'></div>
{% endblock content %}
{% block sup_foot %}
    <script src={% static 'billapp/fullcalendar/core/main.js' %}></script>
    <script src={% static 'billapp/fullcalendar/core/locales-all.js' %}></script>
    <script src={% static 'billapp/fullcalendar/daygrid/main.js' %}></script>
    <script src={% static 'billapp/fullcalendar/list/main.js' %}></script>
    <script src={% static 'billapp/fullcalendar/bootstrap/main.js' %}></script>
{% endblock sup_foot %}
