{% extends 'base.html' %}
{% load static %}

{% block sup_head %}
{% endblock sup_head %}

{% block title %}
Inscription
{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <h5 class="card-header">Inscription</h5>
        {% if error %}
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    Email invalide ou mots de passe différents
                </div>
            </div>
        {% endif %}
        {% if errorAlreadyUsed %}
            <div class="container mt-3">
                <div class="alert alert-danger" role="alert">
                    Ce nom d'utilisateur est déjà utilisé
                </div>
            </div>
        {% endif %}
        <form class="container" method="post">
            <div class="form-row mt-3">
                <div class="col-lg-3 mb-1">
                    <label for="f_place">Email</label>
                    {{form.email}}
                </div>
                <div class="col-lg-3 mb-1">
                    <label for="f_title">Nom d'utilisateur</label>
                    {{form.username}}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-lg-3 mb-1">
                    <label for="f_place">Prénom</label>
                    {{form.firstname}}
                </div>
                <div class="col-lg-3 mb-1">
                    <label for="f_place">Nom</label>
                    {{form.lastname}}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-lg-3 mb-1">
                    <label for="f_place">Mot de passe</label>
                    {{form.pwd}}
                </div>
                <div class="col-lg-3 mb-3">
                    <label for="f_place">Confirmation du mot de passe</label>
                    {{form.pwd_conf}}
                </div>
            </div>
            {% csrf_token %}
            <button class="btn btn-primary mb-3" type="submit">Valider</button>
        </form>
    </div>
{% endblock content %}

{% block sup_foot %}
{% endblock sup_foot %}
