<!DOCTYPE html>
<html lang="fr">
<head>
    <title> {{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">

    <style type="text/css">
        /* Fonts and Content */
        body, td {
            font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
            font-size: 14px;
        }

        body {
            background-color: #2A374E;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        h2 {
            padding-top: 12px;
            color: #0E7693;
            font-size: 22px;
        }

    </style>

</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(42, 55, 78)">
    <tbody>
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w640" width="640" height="10"></td>
                </tr>
                <tr>
                    <td class="w640" width="640" height="10"></td>
                </tr>


                <!-- entete -->
                <tr class="pagetoplogo">
                    <td class="w640" width="640">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
                            <tbody>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w600" width="600" valign="middle" align="left">
                                    <div class="pagetoplogo-content">
                                        <img src="cid:logo-epita.png" height="90" width="150"
                                             alt="logo epita">
                                    </div>
                                </td>
                                <td class="w550" width="600" valign="middle" align="middle">
                                    <h1 class="card-subtitle"> Billeterie EPITA </h1>
                                </td>

                                <td class="w60" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- separateur horizontal -->
                <tr>
                    <td class="w640" width="640" height="1" bgcolor="#d7d6d6"></td>
                </tr>

                <!-- contenu -->
                <tr class="content">
                    <td class="w640" class="w640" width="640" bgcolor="#ffffff">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580">
                                    <!-- une zone de contenu -->
                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="w580" width="580">
                                                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                                    <i class="far fa-check-circle green"></i> {{ title }} </h2>

                                                <br align="left" class="article-content">
                                                L'événement <a href={{ link }}>{{ event.title }}</a> de l'association
                                                {{ event.association }} a été validé par l'administration
                                                et l'association. </br>
                                                Il se déroulera donc du {{ event.begin }} </br>
                                                au {{ event.end }}.

                                                </p>
                                                    Pour rappel, les inscriptions débuteront le </br>
                                                    {{ event.begin_register }}
                                                </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="w580" width="580" height="1" bgcolor="#c7c5c5"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone -->
                                </td>
                                <td class="w30" class="w30" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!--  separateur horizontal de 15px de  haut-->
                <tr>
                    <td class="w640" width="640" height="15" bgcolor="#ffffff"></td>
                </tr>

                <!-- pied de page -->
                <tr class="pagebottom">
                    <td class="w640" width="640">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580" valign="top">
                                    <p align="right" class="pagebottom-content-left">
                                        Mail envoyé automatiquement par la billeterie EPITA, merci de ne pas y répondre.
                                    </p>
                                </td>

                                <td class="w30" width="30"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w640" width="640" height="60"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>