{% extends 'emails/email-base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main_block %}
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w580" width="580">
                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                    Bonjour {{ ticket.user.first_name }} {{ ticket.user.last_name }}</h2>

                <div align="left" class="article-content">
                    <p>
                        Voici votre confirmation de commande pour l'événement
                        {{ event.title }} organisé par l'association
                        {{ event.association }}.
                    </p>
                    <p>
                        Vous pourrez accéder à l'événement en imprimant le billet
                        ci-joint au format pdf.
                        Il vous sera également possible d'y accéder en présentant
                        le QR code suivant.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="w580" width="580" height="1" bgcolor="#c7c5c5"></td>
        </tr>
        </tbody>
    </table>
    <!-- fin zone -->
    <table class="w580" width="580" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <img class="center" align="middle" src="cid:qr-code.png" height="150" width="150" alt="qr-code">
        </tr>
        </tbody>
        <tr>
            <td class="w580" width="580" height="1" bgcolor="#c7c5c5"></td>
        </tr>
    </table>
    <!-- une autre zone de contenu -->
    <table class="w580" width="580" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td colspan="3">
                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                    Récapitulatif </h2>
            </td>
        </tr>
        <tr>
            <td class="w275" width="275" valign="top">
                <div align="left" class="article-content">
                    L'événement commencera le {{ ticket.event.begin }}</br>
                    au {{ ticket.event.place }}
                </div>
                <!-- #TODO Ajouter le support ICalendar-->
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}